<center><h1>Cloudmanufacturing Dashboard</h1></center>
<table style="width:100%">
	<tr>
		<th></th>
    <th>Real-Time Data</th>
    <th>Simulated Data</th> 
  </tr>
  <tr>
  	<th>Cycle Time</th>
    <td>33s</td>
    <td>33s</td> 
  </tr>
  <tr>
    <th>WIP</th>
    <td>12</td> 
    <td>12</td>
  </tr>
  <tr>
    <th>Flow Time</th>
    <td>3.78s</td> 
    <td>7.26s</td>
  </tr>
</table>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>


<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
	$(function(){
		while()
		{
			$.post('localhost/data', send_data, function(json_data){
				$('.h1').val() = json_data;
			});
		}
	});
</script> -->
